block footer
	footer.inner-footer
		.container-large
			.row.row__top
				a.logo(href="#")
					h2 Маяк
					|Давайте жить друзьями
				nav.footer-menu
					a(href="#") Магазин
					a(href="#") Цены
					a(href="#") Галерея
					a(href="#") Новости
					a(href="#") Отзывы
			.row.row__middle
				#map-wrapper
					button.close
						i.fa.fa-compress
					#map
					.overlay
						i.fa.fa-arrows-alt
				.socials
					p Давайте жить друзьями
					ul
						li
							a(href="#")
								i.fa.fa-facebook-square
								|Facebook / DomMayak
						li
							a(href="#")
								i.fa.fa-instagram
								|Instagram / DomMayak
						li
							a(href="#")
								i.fa.fa-vk
								|Vk / DomMayak
						li
							a(href="#")
								i.fa.fa-odnoklassniki
								|Ok / DomMayak
						li
							a(href="#")
								i.fa.fa-twitter
								|Twitter / DomMayak
				nav.footer-menu
					a(href="#") Магазин
					a(href="#") Цены
					a(href="#") Галерея
					a(href="#") Новости
					a(href="#") Отзывы
				ul.contacts
					li
						i.fa.fa-phone
						p Позвоните нам
						a(href="tel:+7 495 517-50-31") +7 495 517-50-31
					li
						i.fa.fa-envelope
						p Напишите  нам
						a(href="mailto:hello@dommayak.ru") hello@dommayak.ru
					li
						i.fa.fa-comment
						p Watsapp, Viber
						a(href="tel:+7 495 517-50-31") +7 495 517-50-31
				form
					p Свяжитесь с нами
					input(placeholder="Name")
					input(placeholder="Email")
					textarea(placeholder="Сообщение")
					input.btn(type="submit" value="Отправить сообщение")
			.row.row__bottom
				nav
					a(href="#") Акции и подарки салона
					a(href="#") Подарочный сертификат
					a(href="#") Интерьер салона
					a(href="#") Реквезиты
					a(href="#") Работа у нас
				p.copyright © 2017 Дом Красоты "МАЯК" открыт для Вас
