mixin form-to-call(bg)
	section.form-to-call(style="background-image: url(img/"+bg+")")
		.container
			h2 Напишите нам сегодня
			p Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации систем массового участия. Идейные соображения высшего порядка.
			.row
				a.btn(href="#") Перезвоним вам за 30 секунд!
				a.btn.btn-underline(href="#") Online запись
				a.btn.btn-underline(href="#") Написать директору

			h2.light Подарочный сертификат
			p Сертификат от салона Маяк оценят молодой и пожилой человек, мужчина или женщина, начальник или подчинённый. Женщины любого возраста хотят чувствовать себя красивыми и ухоженными, да и мужчины не откажутся от качественной стрижки, массажа и ухода за кожей.
			.row
				a.btn.btn-underline(href="#") Выбрать сертификат
				a.btn.btn-underline(href="#") Заказать сертификат
				a.btn.btn-underline(href="#") Быстрая оплата
