mixin article-preview(header)
	section.article-preview
		.container
			article
				h2= header
				.row
					.col
						p С какой бы строгой регулярностью вы не ухаживали за кожей лица, пользуясь всевозможными косметическими средствами, пот, уличная пыль, выделения сальных желез и прочие негативные факторы могут стать причиной появления акне и других несовершенств кожи. Решить эти эстетические проблемы обычными косметическими препаратами практически невозможно, так как они дают временный эффект. А вот механическая чистка лица, будучи классическим способом очищения кожи, действительно устраняет видимые недостатки, а эффект сохраняется надолго.
					.col
						p С какой бы строгой регулярностью вы не ухаживали за кожей лица, пользуясь всевозможными косметическими средствами, пот, уличная пыль, выделения сальных желез и прочие негативные факторы могут стать причиной появления акне и других несовершенств кожи. Решить эти эстетические проблемы обычными косметическими препаратами практически невозможно, так как они дают временный эффект. А вот механическая чистка лица, будучи классическим способом очищения кожи, действительно устраняет видимые недостатки, а эффект сохраняется надолго.
			
