mixin apps(bg)
	section.apps(style="background-image:url(img/"+bg+")")
		.container
			article
				h2 Переходите на новый уровень обслуживания в салоне
				p Скачав мобильное приложение салона красоты «Маяк» вы:
				ul
					li Будете приятно удивлены его удобством;
					li Останетесь довольны скидками; станете регулярно получать подарки.
				p Установите приложение, выбрав платформу:
				a(href="#")
					img(src="img/app-apple.png")
				a(href="#")
					img(src="img/app-android.png")
				a(href="#")
					img(src="img/app-win.png")
				p Обрести красоту еще быстрее, удобнее, дешевле!
