block main
	main#main(style="background-image:url(img/mainSlide1.jpg)")
		include ../header/header
		section#main-slider
			.section
				.owl-carousel(data-anchor="section-1")
					.item(style="background-image:url(img/mainSlide2.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
					.item(style="background-image:url(img/mainSlide1.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве2
								p Ознакомьтесь с полным перечнем услуг
					.item(style="background-image:url(img/mainSlide3.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве3
								p Ознакомьтесь с полным перечнем услуг
			.section
				.owl-carousel(data-anchor="section-2")
					.item(style="background-image:url(img/mainSlide1.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
					.item(style="background-image:url(img/mainSlide2.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
					.item(style="background-image:url(img/mainSlide3.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
			.section
				.owl-carousel
					.item(style="background-image:url(img/mainSlide3.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
					.item(style="background-image:url(img/mainSlide1.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
					.item(style="background-image:url(img/mainSlide2.jpg)")
						.container-large
							.offer
								h2 Студия профессионального окрашивания в Москве
								p Ознакомьтесь с полным перечнем услуг
		h1 Маяк
			span Салон красоты
		footer.footer
			.footer__container
				.col
					nav.footer__menu-top
						a(href="#") Магазин
						a(href="#") Галерея
						a(href="#") Цены
						a(href="#") Новости
						a(href="#") Отзывы
					nav.footer__menu-bottom
						a(href="#") Акции и подарки салона
						a(href="#") Интерьер салона
						a(href="#") Работа у нас
						a(href="#") Подарочный сертификат
						a(href="#") Реквизиты
				.col
					.social
						a(href="#")
							img(src="img/wifi.png")
						a(href="#")
							img(src="img/parking.png")
						a(href="#")
							img(src="img/speech-bubble.png")
						a(href="#")
							img(src="img/parking.png")
						a(href="#")
							img(src="img/wifi.png")
						a(href="#")
							img(src="img/parking.png")
						a(href="#")
							img(src="img/vk.png")
						a(href="#")
							img(src="img/instagram.png")
						a(href="#")
							img(src="img/twitter.png")
						a(href="#")
							img(src="img/vk.png")
						a(href="#")
							img(src="img/instagram.png")
						a(href="#")
							img(src="img/twitter.png")
					p.copyright © 2017 Дом красоты Маяк. All rights reserved.
