extends ../blocks/layout-default/layout-default

block content
	section.services
		.container
			include ../blocks/card/card
			+card('service1.png', '1.Доброкачественные мягкотканные образования головы и шеи:', [
				'Атеромы, ( более 10.000)',
				'Папилломы ( более 10.000)',
				'Дермоидные кисты (более 10.000)',
				'Боковые и срединные кисты шеи ( более 1.000)',
				'Срединные свищи шеи (более 500)'
			])
			+card('service2.png', '2. Доброкачественные костные новообразования:', [
				'Амелобластомы ( более 500)',
				'Кератокисты ( более 500)',
				'Резекции челюстей по поводу образований ( более 100)',
				'Резекция верхней челюсти частичная и тотальная верхней челюсти (около 20)',
				'Резекция нижней челюсти частичная и тотальная (около 80)'
			])
			+card('service3.png', '3. Операции на верхне-челюстных пазухах, синусах', [
				'Гайморотомии ( более 10.000)',
				'Удаление кист пазух, удаление полипов',
				'Подготовка к синус-лифтингу',
				'Операция как открытая так и эндодонтическая гайморотомия'
			])
			+card('service4.png', '4. Операции на слюнных железах', [
				'Удаление подчелюстных слюнных желёз ( более 10.000)',
				'Удаления камня подчелюстной слюнной железы из протока, из тела самой железы',
				'Удаление камней околоушной слюнной железы',
				'Удаление кист слюнных желез',
				'Удаление полиморфных аденом слюнных желез (смешанная опухоль)',
				'Удаление мономорфных аденом слюнНЫХ ЖЕЛЕЗ'
			])
			+card('service5.png', '5. Реконструктивно-восстановительные операции', [
				'Восстановление дефекта челюстей титановыми протезами, аутотрансплантатами (подвздошной, теменной, малоберцовой костью)',
				'Восстановление асимметрий лица силиконовыми протезами',
				'Ортогнатические операции, на верхней и нижней челюсти для исправления зубо-челюстной аномалии ( небольшой опыт)',
				'Операции по Даль-Понту, Обвейгейзеру, Лимбергу, Сукачеву',
				'Гениопластика',
				'Резекция языка'
			])
			+card('service6.png', '6. Травма челюстно- лицевой области', [
				'Лечение переломов челюстей ( более 10.000)',
				'Переломы суставного отростка нижней челюсти,  переломы угла нижней челюсти, переломы тела нижней челюсти, срединные переломы челюстей',
				'Переломы верхней челюсти, по Лефор -1,2,3.',
				'Переломы скуловых костей, переломы скуловой дуги',
				'Переломы скуло-глазничного комплекса'
			])
			+card('service7.png', '7. Удаление зубов ', [
				'Любой степени тяжести, в том числе расположенных в верхней-челюстной пазухе и в ветви челюсти ( более 100.000)',
				'Резекция верхушек корней',
				'Гемисекция'
			])
			+card('service8.png', '8. Дентальная имплантация (более 1.000)', [
				'Установка дентальных имплантатов Astra-Tech, Alpha-Bio, SGS, Nobel, Xive и многие другие',
				'Костная пластика костными блоками с ветви челюсти',
				'Костная пластика титановыми сетками',
				'Направленная костная регенерация искусственным костным материалом и мембраной',
				'Операция открытый и закрытый синус лифтинг'
			])
			+card('service9.png', '9. Лечение гнойно-воспалительных заболеваний головы и шеи', '', 'card-large')
			+card('service10.png', '10. Заболевания височно нижнечелюстного сустава', '', 'card-large')
			+card('service11.png', '11. Ортогнатические операции', '', 'card-large')
	include ../blocks/footer/footer
block scripts
