block header
	header.main-header
		#dropdown_menu
			.container-large
				.top-menu_btn
					svg.dropdown-btn(version="1.1" width="32" height="36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="space" patternUnits="userSpaceOnUse")
						polygon(fill="transparent" points="5,15 16,5 27,15" stroke="#fff" stroke-width="5")
						rect(x="0" y="22" width="100%" height="5" fill="#fff")
						rect(x="0" y="31" width="100%" height="5" fill="#fff")
				.wrapper
					h1 Маяк
						span Давайте жить друзьями
					.tabs-menu
						a.active(href="#header-tab-1" data-container="header-tabs") Мужчинам
						a(href="#header-tab-2" data-container="header-tabs") Женщинам
						a(href="#header-tab-3" data-container="header-tabs") Магазин
					form
						input
				button.close
			.container-large
				.header-wrapper
					h2 Основные разделы
				#search-container.hidden
					.links-wrapper
						ul
							li
								a(href="#") Акции и предложения
							li
								a(href="#") Подарочный сертификат
							li
								a(href="#") Интерьер салона
							li
								a(href="#") Реквизиты
				#header-tabs
					#header-tab-1.tab-content(style="display:block")
						.links-wrapper
							ul
								li
									a(href="#") Акции и предложения
								li
									a(href="#") Подарочный сертификат
								li
									a(href="#") Интерьер салона
								li
									a(href="#") Реквизиты
							
							ul
								li
									a(href="#") Политика
								li
									a(href="#") Спорт
								li
									a(href="#") Происшествия
								li
									a(href="#") Авто
								li
									a(href="#") Технологии
							ul
								li
									a(href="#") Игры
								li
									a(href="#") Бизнес
								li
									a(href="#") Стиль жизни
								li
									a(href="#") Здоровье
								li
									a(href="#") Шоу-бизнес
							ul
								li
									a(href="#") Размещение рекламы
								li
									a(href="#") Вакансии
								li
									a(href="#") Помощь
								li
									a(href="#") Обратная связь			
					#header-tab-2.tab-content
						.links-wrapper
							ul
								li
									a(href="#") Акции и предложения2
								li
									a(href="#") Подарочный сертификат
								li
									a(href="#") Интерьер салона
								li
									a(href="#") Реквизиты
							
							ul
								li
									a(href="#") Политика
								li
									a(href="#") Спорт
								li
									a(href="#") Происшествия
								li
									a(href="#") Авто
								li
									a(href="#") Технологии
							ul
								li
									a(href="#") Игры
								li
									a(href="#") Бизнес
								li
									a(href="#") Стиль жизни
								li
									a(href="#") Здоровье
								li
									a(href="#") Шоу-бизнес
							ul
								li
									a(href="#") Размещение рекламы
								li
									a(href="#") Вакансии
								li
									a(href="#") Помощь
								li
									a(href="#") Обратная связь			
					#header-tab-3.tab-content
						.links-wrapper
							ul
								li
									a(href="#") Акции и предложения3
								li
									a(href="#") Подарочный сертификат
								li
									a(href="#") Интерьер салона
								li
									a(href="#") Реквизиты
							
							ul
								li
									a(href="#") Политика
								li
									a(href="#") Спорт
								li
									a(href="#") Происшествия
								li
									a(href="#") Авто
								li
									a(href="#") Технологии
							ul
								li
									a(href="#") Игры
								li
									a(href="#") Бизнес
								li
									a(href="#") Стиль жизни
								li
									a(href="#") Здоровье
								li
									a(href="#") Шоу-бизнес
							ul
								li
									a(href="#") Размещение рекламы
								li
									a(href="#") Вакансии
								li
									a(href="#") Помощь
								li
									a(href="#") Обратная связь			
		.container-large
			.top-menu_btn
				svg.dropdown-btn(version="1.1" width="32" height="23" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="space" patternUnits="userSpaceOnUse")
					rect(x="0" y="0" width="100%" height="5" fill="#fff")
					rect(x="0" y="9" width="100%" height="5" fill="#fff")
					rect(x="0" y="18" width="100%" height="5" fill="#fff")
				button.search
			nav#switcher
				a.active(href="#section-1") Мужчинам
				a(href="#section-2") Женщинам
			nav#top-menu
				ul
					li
						a(href="#") Волосы
					li
						a(href="#") Лицо
					li
						a(href="#") Руки  и ноги
					li
						a(href="#") Тело
					li
						a(href="#") Специалисты
			.contacts
				a(href="#") Контакты
				a.phone(href="tel:+7 495 517-50-31") +7 495 517-50-31
				a(href="#") Запросить консультацию
			nav#bottom-menu
				ul
					li
						a(href="#") Стрижка
					li
						a(href="#") Укладка
					li
						a(href="#") Окрашивание
					li
						a(href="#") Мелирование
					li
						a(href="#") Лечение
					li
						a(href="#") Завивка
					li
						a(href="#") Выпрямление
					li
						a(href="#") Наращивание
