mixin specialist-card(img, name, spec)
	.specialist-card
		img.photo(style="background-image: url(img/"+img+")")
		p.name= name
		p.spec= spec
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		.btns
			a.btn(href="#") Бронирование
			a.btn.btn-gray(href="#") Смотреть профиль
