block certificates
	section.certificates
		.container
			.owl-carousel
				.item
					a(href="img/certificat1.jpg" data-fancybox="certificates")
						img(src="img/certificat1.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat2.jpg" data-fancybox="certificates")
						img(src="img/certificat2.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat3.jpg" data-fancybox="certificates")
						img(src="img/certificat3.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat4.jpg" data-fancybox="certificates")
						img(src="img/certificat4.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat1.jpg" data-fancybox="certificates")
						img(src="img/certificat1.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat2.jpg" data-fancybox="certificates")
						img(src="img/certificat2.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat3.jpg" data-fancybox="certificates")
						img(src="img/certificat3.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat4.jpg" data-fancybox="certificates")
						img(src="img/certificat4.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat1.jpg" data-fancybox="certificates")
						img(src="img/certificat1.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat2.jpg" data-fancybox="certificates")
						img(src="img/certificat2.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat3.jpg" data-fancybox="certificates")
						img(src="img/certificat3.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat4.jpg" data-fancybox="certificates")
						img(src="img/certificat4.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat1.jpg" data-fancybox="certificates")
						img(src="img/certificat1.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat2.jpg" data-fancybox="certificates")
						img(src="img/certificat2.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat3.jpg" data-fancybox="certificates")
						img(src="img/certificat3.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat4.jpg" data-fancybox="certificates")
						img(src="img/certificat4.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat1.jpg" data-fancybox="certificates")
						img(src="img/certificat1.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat2.jpg" data-fancybox="certificates")
						img(src="img/certificat2.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat3.jpg" data-fancybox="certificates")
						img(src="img/certificat3.jpg" width="190" height="265")
					p Сертификат 1
				.item
					a(href="img/certificat4.jpg" data-fancybox="certificates")
						img(src="img/certificat4.jpg" width="190" height="265")
					p Сертификат 1
