block footer
	footer#footer
		.container
			.row
				a.logo(href="/")
					img(src="img/logo.png" alt="")
					p
						|ГЕВОРКЯН Оскар Владимирович
						span челюстно-лицевой хирург
				.contacts
					p Оперативная связь
					a(href="#")
						i.fa.fa-whatsapp
					a(href="#")
						i.fa.fa-vk
					a(href="#")
						i.fa.fa-paper-plane-o
			.row
				nav
					a(href="#") Обо мне
					a(href="#") Операции
					a(href="#") Удаление зубов
					a(href="#") Травмы челюстно-лицевой области
					a(href="#") Дентальная имплантация
					a(href="#") Фото ДО и ПОСЛЕ
					a(href="#") Отзывы
					a(href="#") Статьи
					a(href="#") Контакты
