block main-form
	form.main-form
		header
			b
				|Запишитесь сегодня
				br
				|на наращивание волос
			p
				|и получите в подарок шампунь
				br
				|по уходу за волосами!
		input(type="text" placeholder="Ваше имя")
		input(type="tel" placeholder="Номер телефона")
		input.btn(type="submit" value="Получить подарок")
		footer
			p Мы перезвоним вам в течение 5 минут, чтобы дать развернутую консультацию
